---
layout: default
---

<!-- Show last 5 posts here -->
{% for post in paginator.posts %}
	<article>
        <header>
            <h2><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h2>
        </header>
        {%if post.epigraph %}
        <div class="epigraph">
            {{ post.epigraph }}
            {%if post.epigraphattribution %}
            <div class="attribution">&mdash;{{ post.epigraphattribution }}</div>
            {% endif %}
        </div>
        {% endif %}
		<div class="entry">
            {{ post.content }}
        </div>
        <time datetime="{{page.date|date:"%F"}}">{{post.date|date:"%-d %B %Y"}}</time>
	</article>
    {% if post != paginator.posts.last %}
        <hr/>
    {% endif %}
{% endfor %}
