body {
	font-family: sans-serif;
	margin: 1em 1em 0em 1em;
}

a {
	text-decoration: underline;
}

h1 {
	font-family: "Peter Obscure";
	font-size: 32pt;
}

h2 {
	margin: 1rem 0rem;
	font-family: "MxPlus IBM VGA 9x16";
	font-size: 24pt;
}


#banner a {
	text-decoration: none;
}

.entry-title {
	margin: 0px -1rem;
	padding: 1rem;
}

.preview-container {
	display: block;
	margin: 0px -1rem 0px -1rem;
}

.preview-container a {
	text-decoration: none;
}

.preview-background {
	background-size: cover;
}

.preview-content-container {
/* 	height: 200px; */
}

.preview-content {
	padding: 1px 1rem;
}

.entry-content img {
	width: calc(100% + 2rem);
	max-height: 90vh;
	object-fit: contain;
	margin: 0rem 0rem 0rem -1rem;
}

figcaption {
	font-style: italic;
	text-align: center;
	font-size: 11pt;
	margin: -1rem 0rem 2rem 0rem;
}

.invisible {
	display: none;
}